[Desktop Entry]
Encoding=UTF-8
Name=Link to 256-256-621654299bc0f478fe3c1be4924d727d.png
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=12fecb2efd&attid=0.1&permmsgid=msg-f:1636290342051340749&th=16b545658b5f61cd&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ98ecfdoO9u9DUAL7-NwoTOp_6lN_6ZeIHz9tewpaFfsvdbr77Dv2OCECtYNSfux1Nt4q8VZ3nqC9VnrcSV5QYjKnLdgyKeg9BNvj8jWbNGUWMl06w61q6B4HY&disp=emb&realattid=ii_jwvmamhy0
Icon=text-html
